@import "./variables.scss";

.banner1 {
  height: 50vh;
  position: relative;
  @media (max-width: $widescreen) {
    height: 90vh;
  }
  .banner-addition-bg1 {
    background: $blue;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-bg1 {
    background: $lPink;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}
