@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.site-navigation {
  height: 65px;
  width: 100%;
  background: transparent;
  box-shadow: -1px 7px 40px -18px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: -1px 7px 40px -18px rgba(68, 68, 68, 0.6);
  -moz-box-shadow: -1px 7px 40px -18px rgba(68, 68, 68, 0.6);
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  color: #444; }
  .site-navigation:hover {
    height: 70px;
    background-color: #e6e1e1;
    box-shadow: -1px 9px 40px -18px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: -1px 9px 40px -18px rgba(68, 68, 68, 0.6);
    -moz-box-shadow: -1px 9px 40px -18px rgba(68, 68, 68, 0.6); }
  .site-navigation span {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #444; }
    .site-navigation span img {
      width: 1.8rem;
      padding-right: 0.6rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .site-navigation span img:hover {
        transform: translateY(-0.15rem) scale(1.1); }
  .site-navigation ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    transition: all 0.4s ease-in-out; }
    .site-navigation ul img {
      width: 1.8rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .site-navigation ul img:hover {
        transform: translateY(-0.15rem) scale(1.1); }
    .site-navigation ul a {
      text-decoration: none;
      padding: 0 20px 0 20px;
      color: #444;
      font-size: 1rem;
      transition: all 0.4s ease-in-out; }
      .site-navigation ul a:hover {
        color: #2297ff; }

.top-nav {
  width: 100%;
  height: 8px;
  background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff, #f24645);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .top-nav:hover {
    background-image: linear-gradient(to left, #6253e1, #852d91, #a3a1ff, #f24645); }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

@media only screen and (max-width: 37.5em) {
  .nav__search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.2rem; } }

.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px); }

.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: #f7f7f7; }

.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1rem;
  color: #999;
  padding-bottom: 3px;
  border-bottom: 1px solid #444;
  width: 28rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.nav__search-input::-webkit-input-placeholder {
  color: #444; }

.nav__search-input:-ms-input-placeholder {
  color: #444; }

.nav__search-input::-ms-input-placeholder {
  color: #444; }

.nav__search-input::placeholder {
  color: #444; }

.nav__search-input:focus {
  outline: none;
  width: 35rem;
  border-bottom: 1px solid currentColor; }

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 2000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.banner {
  height: 80vh;
  position: relative; }
  @media (max-width: 1440px) {
    .banner {
      height: 90vh; } }
  .banner .banner-addition-bg {
    background: #233567;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%; }
  .banner .banner-bg {
    background: #ffe5e5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%; }
  .banner .banner-inner {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative; }
    @media (max-width: 1440px) {
      .banner .banner-inner {
        height: 90vh; } }
    .banner .banner-inner .content {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center; }
      .banner .banner-inner .content .content-inner h1 {
        font-family: "Playfair Display";
        color: #233567;
        font-size: 3.4rem;
        line-height: 4.8rem;
        margin: 32px 0 0;
        width: 620px; }
        @media (max-width: 1440px) {
          .banner .banner-inner .content .content-inner h1 {
            font-size: 3.1rem;
            line-height: 3.6rem; } }
        .banner .banner-inner .content .content-inner h1 .line {
          overflow: hidden;
          height: 70px;
          position: relative; }
          .banner .banner-inner .content .content-inner h1 .line span {
            position: absolute; }
      .banner .banner-inner .content .content-inner p {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 300;
        color: #233567;
        width: 520px;
        margin: 32px 0 80px; }
        @media (max-width: 1440px) {
          .banner .banner-inner .content .content-inner p {
            margin: 16px 0 60px; } }
      .banner .banner-inner .content .content-inner .btn-row a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        font-size: 1rem;
        padding: 0 32px;
        text-decoration: none;
        font-weight: 600;
        color: #ffffff;
        background: #d57868;
        border-radius: 100px; }
      .banner .banner-inner .content .content-inner .play-video {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 4px 4px 0 0;
        overflow: hidden; }
        .banner .banner-inner .content .content-inner .play-video .cover {
          padding: 0;
          background: #ffe5e5;
          right: 0;
          z-index: 9;
          height: 64px;
          opacity: 0; }
        .banner .banner-inner .content .content-inner .play-video span {
          opacity: 0;
          display: flex;
          align-items: center;
          height: 64px;
          padding: 0 32px;
          background: #ffffff;
          font-weight: 600;
          color: #233567; }
          .banner .banner-inner .content .content-inner .play-video span img {
            margin-right: 1rem; }
    .banner .banner-inner .image {
      position: relative;
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .banner .banner-inner .image .image-inner img {
        width: 670px;
        height: 470px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9; }
        @media (max-width: 1440px) {
          .banner .banner-inner .image .image-inner img {
            width: 400px; } }
      .banner .banner-inner .image .image-inner .feature-banner {
        position: absolute;
        bottom: 286px;
        left: -10px;
        background: #315b96;
        color: #ffffff;
        height: 52px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        border-radius: 4px;
        font-weight: 600; }
        .banner .banner-inner .image .image-inner .feature-banner.green {
          background: #76d8aa;
          right: 32px;
          left: auto;
          bottom: 116px; }
          @media (max-width: 1440px) {
            .banner .banner-inner .image .image-inner .feature-banner.green {
              right: -24px; } }

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 2000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

* {
  box-sizing: border-box; }

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f; }

.container1 {
  margin-top: 100px;
  display: flex;
  width: 1440px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: all 0.2s ease-in-out; }
  .card:hover {
    transform: scale(1.03); }

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px; }

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer; }

.tag-teal {
  background-color: #47bcd4; }

.tag-purple {
  background-color: #5e76bf; }

.tag-pink {
  background-color: #cd5b9f; }

.card-body p {
  font-size: 13px;
  margin: 0 0 40px; }

.user {
  display: flex;
  margin-top: auto; }

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px; }

.user-info h5 {
  margin: 0; }

.user-info small {
  color: #545d7a; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #233567;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh;
  width: 1440px;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #233567;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #233567;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #233567;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #233567, #233567);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #233567;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-2.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: 5rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #233567, #233567);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__text {
        margin-bottom: 0; } }
  .feature-box__icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #233567;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(153, 153, 153, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: #f8f9fa; }

html {
  scroll-behavior: smooth; }

body::-webkit-scrollbar {
  width: 0.5rem; }

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #6253e1, #852d91, #a3a1ff, #f24645);
  border-radius: 50px; }

body::-webkit-scrollbar-track {
  background-color: transparent; }
